@import url(https://fonts.adobe.com/fonts/cofo-sans-variable#fonts-section);

:root {
    --background-darker: #040825;
    --background-lighter: #270734;
    --accent-first: #AC3AB6;
    --accent-second: #C72626;
    --font-color: #FFF;
}

body {
    background: linear-gradient(101.5deg, var(--background-darker), var(--background-lighter));
    font-family: 'CoFo Sans', sans-serif;
    font-size: 18px;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: auto;
    transition: all 0.35s ease;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #1f0730, var(--background-lighter));
}
 
::-webkit-scrollbar-thumb { 
    border-radius: 2em;
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    border: 3.5px solid transparent;
    background-clip: content-box;
}

/* Color styles */
.colorful {
    margin-right: auto;
    background: -webkit-linear-gradient(150deg, var(--accent-first), var(--accent-second));
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    -webkit-background-clip: text;
    background-clip: text;;
    -webkit-text-fill-color: transparent;
}


/* Header styles */
.headerContainer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 1em;
}


.headerCategories {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.headerCategoriesGrid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 1.7em;
    font-size: 0.95em;
}

.headerLanguage {
    position: relative;
    display: inline-block;
    align-self: center;
    padding-right: 1.1em;
    cursor: pointer;
    margin-left: auto;
    font-size: 0.75em;
}

.headerLanguage img {
    width: 25px;
    height: auto;
    cursor: pointer;
    display: block;
}

  
.headerLanguage:hover .dropdownContent {
    display: block;
    filter: blur(3px);
}
  
.headerLanguage .dropdownContent {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 25px;
    padding: 8px 0;
    z-index: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    opacity: 0;
    filter: blur(0);
}
  
.headerLanguage .dropdownContent img:hover {
    background-color: transparent;
    opacity: 0.7;
}

/* Intro styles */
.intro {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 96vh;
}

.introIcons {
    display: grid;
    font-size: 1.7em;
    gap: 1.25em;
    align-self: center;
    margin-left: 0.7em;
    text-align: center;
}

.introIcons a {
    text-decoration: none;
    color: var(--font-color);
}

.introText {
    display: flex;
    flex-direction: column;
    margin-top: 11%;
    margin-left: 12.5%;
    width: 32em
}

.introText label:nth-of-type(2) {
    font-size: 2.66em;
    font-weight: bold;
    margin-top: 5px;
}

.introText label:nth-of-type(3) {
    font-size: 1.33em;
    font-weight: 600;
}

.introText p {
    font-size: 17px;
}

.introText ul {
    --icon-space: 1.7em;
    list-style: none;
    padding: 0;
    font-size: 17px;
  }
  
.introText li {
    padding-left: var(--icon-space);
    padding-bottom: 5px;
}
  
.introText li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 + 10px );
    width: var(--icon-space);
}

.introText .colorful {
    font-weight: bold;
    font-size: 1.75em;
}

.introText hr {
    margin-left: 0;
    margin-right: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--accent-first), var(--accent-second));
}

.introButtons {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    gap: 1.5em;
    height: 2.5em;
    margin-top: 0.8em;
}

.colorfulButton {
    background-image: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    font-size: 1em;
    color: var(--font-color);
    border: none;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.colorfulBorderButton {
    position: relative;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 1.5em;
    background: linear-gradient(150deg, var(--background-darker), var(--background-lighter)) padding-box fixed, linear-gradient(150deg, var(--accent-first), var(--accent-second)) border-box;
    border: 2px solid transparent;
}

.colorfulBorderButton span {
    position: relative;
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    z-index: 1;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.colorfulBorderButton:hover {
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    border: none
}

.colorfulBorderButton:hover span {
    -webkit-text-fill-color: var(--font-color);
    color: var(--font-color);
}


.introPhoto {
    width: auto;
    overflow: hidden;
}

.photoContainer {
    width: 100%;
    margin-left: 5em;
    margin-top: 3em;
}

.photoContainer img {
    width: 75%;
}

.arrowDown {
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2.5em;
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


/* Services section */
.services {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.025);
    
    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
}

.services label:first-of-type {
    font-size: 16px;
    font-weight: bold;
}

.services label:last-of-type {
    font-size: 40px;
    font-weight: bold;
}






/* Education section */
.education {
    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
}

.education label:first-of-type {
    font-size: 16px;
    font-weight: bold;
}

.education label:last-of-type {
    font-size: 40px;
    font-weight: bold;
}




/* Skills section */
.skills {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.025);

    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
}

.skills label:first-of-type {
    font-size: 16px;
    font-weight: bold;
}

.skills label:last-of-type {
    font-size: 40px;
    font-weight: bold;
}




/* Languages section */
.languages {
    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
}

.languages label:first-of-type {
    font-size: 16px;
    font-weight: bold;
}

.languages label:last-of-type {
    font-size: 40px;
    font-weight: bold;
}





/* Experience section */
.experience {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.025);

    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
}

.experience label:first-of-type {
    font-size: 16px;
    font-weight: bold;
}

.experience label:last-of-type {
    font-size: 40px;
    font-weight: bold;
}




/* Contact section */
.contact {
    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
}

.contact label:first-of-type {
    font-size: 16px;
    font-weight: bold;
}

.contact label:last-of-type {
    font-size: 40px;
    font-weight: bold;
}








.footerContainer {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); 
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    padding: 1em 1.9em 1em 1.9em;
    align-items: center;
    font-size: 14px
}

.footerContainer a {
    color: var(--font-color);
    text-decoration: none;
}

.copyright {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.copyright label {
    padding-bottom: 0.3em;
}

.footerIcons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    font-size: 1.3em;
    gap: 0.9em;
    margin-right: auto;
    text-align: center;
    padding-top: 0.15em;
}

.terms {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: auto;
}