:root {
    --background-darker: #040825;
    --background-lighter: #270734;
    --accent-first: #AC3AB6;
    --accent-second: #C72626;
    --accent-first-lighter: #be51c8;
    --accent-second-lighter: #da3e3e;
    --font-color: #FFF;
}

html {
    background: #1f0730;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(101.5deg, var(--background-darker), var(--background-lighter));
    font-family: 'CoFo Sans', sans-serif;
    font-size: 18px;
    color: var(--font-color);
    margin: 0;
    padding: 0 calc((100vw - 1560px) / 2);
}

@media (max-width: 500px) {
    
}

::-webkit-scrollbar {
    width: auto;
    transition: all 0.35s ease;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}
 
::-webkit-scrollbar-thumb { 
    border-radius: 2em;
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    border: 3.5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 2em;
    background: linear-gradient(150deg, var(--accent-first-lighter), var(--accent-second-lighter));
    border: 3.5px solid transparent;
    background-clip: content-box;
}

/* Go to top button */
#goToTopBtn {
    opacity: 0; /* Initially hide the button */
    transition: opacity 0.5s ease, transform 0.35s ease;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
    font-size: 25px;
    border: none;
    outline: none;
    background: linear-gradient(150deg, var(--accent-first-lighter), var(--accent-second-lighter));
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}

#goToTopBtn:hover {
    transform: scale(1.1);
}

/* Color styles */
.colorful {
    margin-right: auto;
    background: -webkit-linear-gradient(150deg, var(--accent-first), var(--accent-second));
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Animation */
.slide-up {
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
    animation: slide-up-out 0.75s forwards;
  }
  
  .slide-up.visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    animation: slide-up-in 0.75s forwards;
  }

  @keyframes slide-up-in {
    0% {
        transform: translateY(100px);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slide-up-out {
    0% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
        visibility: hidden;
    }
}

/* Header styles */
.headerContainer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 1em;
    padding-bottom: 0.8em;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1560px;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.headerCategories {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.headerCategoriesGrid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 1.7em;
    font-size: 0.95em;
}

.headerCategoriesGrid a {
    color: var(--font-color);
    text-decoration: none;

    opacity: 0;
    transform: translateY(-150%);
    transition: background 0.35s ease, background 0.35s ease, opacity 0.5s ease, transform 0.5s ease;
    animation: colorUnhover 0.5s ease forwards;
}

.headerCategoriesGrid a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1.25px;
    left: 50%;
    position: absolute;
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .headerCategoriesGrid a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.headerCategoriesGrid a:hover {
    animation: colorHover 0.5s ease forwards;
}

@keyframes colorHover {
    0% {
        color: white;
    }
    100% {
        color: transparent;
        background: -webkit-linear-gradient(150deg, var(--accent-first), var(--accent-second));
        background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes colorUnhover {
    0% {
        color: transparent;
        background: -webkit-linear-gradient(150deg, var(--accent-first), var(--accent-second));
        background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        color: white;
    }
}

.headerCategoriesGrid a.slide-in {
    opacity: 1;
    transform: translateY(0);
  }

.headerLanguage {
    position: relative;
    display: inline-block;
    align-self: center;
    margin-right: 1.1em;
    cursor: pointer;
    margin-left: auto;
    font-size: 0.75em;
}

.headerLanguage img {
    width: 25px;
    height: auto;
    cursor: pointer;
    display: block;
}

#selectedLanguage {
    opacity: 0;
    transform: translateY(-150%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#selectedLanguage.slide-in {
    opacity: 1;
    transform: translateY(0);
  }
  
.headerLanguage:hover .dropdownContent {
    display: block;
    filter: blur(3px);
}
  
.headerLanguage .dropdownContent {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 25px;
    padding: 8px 0;
    z-index: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    opacity: 0;
    filter: blur(0);
}
  
.headerLanguage .dropdownContent img:hover {
    background-color: transparent;
    opacity: 0.7;
}

.mobileNavbar {
    color: var(--font-color);
    background-color: transparent;
    border: none;
    align-self: center;
    margin-left: 0.8em;
    cursor: pointer;
    margin-right: auto;
    font-size: 1.25em;
    display: none !important;
}

@media (max-width: 800px) {
    /* .headerContainer {
        backdrop-filter: none;
    } */
    
    .headerCategoriesGrid {
        display: none;
    }

    .mobileNavbar {
        display: block !important;
    }
}

/* Intro styles */
.intro {
    display: grid;
    grid-template-columns: 12% 37% 51%;
    height: 96vh;
    max-height: 850px;
    padding-top: min(50px, 4vh);
    gap: 0;
}

.introIcons {
    display: grid;
    font-size: 1.7em;
    gap: 1.25em;
    align-self: center;
    margin-left: 0.7em;
    text-align: center;
    width: 1.7em;
}

.introIcons a {
    text-decoration: none;
    color: var(--font-color);
    opacity: 0;
    transform: translateX(-150%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.introIcons a.slide-in {
    opacity: 1;
    transform: translateX(0);
  }
 
  .introIcons a::after {
    content: attr(data-text);
    position: absolute;
    top: 13%;
    left: 100%;
    transform: translateY(-50%);
    transform: translateX(-5%);
    font-size: 14px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  .introIcons a:hover::after {
    opacity: 1;
    transform: translateX(0);
  }

  .introIcons a.fa-facebook-f:hover::after {
    background-image: linear-gradient(to bottom right, #12b0fe,#0062e1);
    color: #fff;
  }

  .introIcons a.fa-linkedin-in:hover::after {
    background-color: #0077b5;
    color: #fff;
  }

  .introIcons a.fa-instagram:hover::after {
    background-image: linear-gradient(to top right, #f9ce34,#ee2a7b,#6228d7);
    color: #fff;
  }

  .introIcons a.fa-github:hover::after {
    background-color: #333;
    color: #fff;
  }

  .fa-facebook-f:hover {
    background: linear-gradient(#12b0fe,#0062e1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .fa-linkedin-in:hover {
    color: #0077b5;
  }

  .fa-instagram:hover {
    background: url(../img/ig.jpg);
    background-size:contain;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .fa-github:hover {
    color: #333;
    background-image: url(../img/whitecircle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 93%;
  }

.introText {
    display: flex;
    flex-direction: column;
    margin-top: 35%;
    margin-left: 12.5%;
    width: 90%;
    opacity: 0;
    animation: fadeIn 2s forwards;
    align-content: flex-end;
}

  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .line-by-line {
    opacity: 0;
    animation: fadeInLine 0.5s forwards;
  }

  @keyframes fadeInLine {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.introText h1 {
    font-size: 2.66em;
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
}

.introText h2 {
    font-size: 1.33em;
    font-weight: 600;
    margin: 0;
}

.introText p {
    font-size: 17px;
}

.introText ul {
    --icon-space: 1.7em;
    list-style: none;
    padding: 0;
    font-size: 17px;
  }
  
.introText li {
    padding-left: var(--icon-space);
    padding-bottom: 5px;
}
  
.introText li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 + 10px );
    width: var(--icon-space);
}

.introText .colorful {
    font-weight: bold;
    font-size: 1.75em;
}

.introText hr {
    margin-left: 0;
    margin-right: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--accent-first), var(--accent-second));
}

.introButtons {
    display: grid;
    grid-template-columns: repeat(2, max(30%, 145px));
    gap: 1.5em;
    height: 2.5em;
    margin-top: 0.8em;
}

.colorfulButton {
    background-image: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    font-size: 1em;
    color: var(--font-color);
    border: none;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: all 0.35s ease;
    min-width: 145px;
    cursor: pointer;
}

.colorfulButton:hover {
    transform: scale(1.1);
}

.colorfulButton::before {
    content: "";
    position: absolute;
    inset: 0px;
    z-index: -1;
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.35s ease;
    border-radius: 1.5em;
  }
  
  .colorfulButton:hover::before {
    opacity: 1;
  }

.colorfulBorderButton {
    position: relative;
    font-size: 1em;
    outline: none;
    border-radius: 1.5em;
    background: linear-gradient(150deg, #0c0828, #0d0729) padding-box fixed, linear-gradient(150deg, var(--accent-first), var(--accent-second)) border-box;
    border: 2px solid transparent;
    transition: transform 0.35s ease;
    cursor: pointer;
    min-width: 145px;
}

.colorfulBorderButton::before {
    content: "";
    position: absolute;
    inset: 0px;
    z-index: -1;
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.35s ease;
    border-radius: 1.5em;
  }
  
  .colorfulBorderButton:hover::before {
    opacity: 1;
  }

.colorfulBorderButton span {
    position: relative;
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    z-index: 1;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.colorfulBorderButton:hover {
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    border: none;
    transform: scale(1.1);
}

.colorfulBorderButton:hover span {
    -webkit-text-fill-color: var(--font-color);
    color: var(--font-color);
}


.introPhoto {
    display: flex;
    width: auto;
    overflow: hidden;
    align-items: flex-end;

}

.photoContainer {
    width: 100%;
    margin-left: 5em;
    margin-bottom: -5px;
}

.photoContainer img {
    width: 78%;
    margin-top: 1em;
}

.arrowDown {
    position: fixed;
    bottom: 20px;
    left: 50%;
    font-size: 2.5em;
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    opacity: 1;
    transition: opacity 0.3s ease;
    margin-left: -0.365em;
}

.arrowDown.hidden {
    opacity: 0;
    pointer-events: none;
}

body.scroll .arrowDown {
    animation: arrowAnimation 0.5s ease forwards;
}

.arrowDown.appear {
    animation: arrowAppearAnimation 0.5s ease forwards;
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
    100% {
        transform: translateY(-40px) scale(1.5);
        filter: blur(5px);
        opacity: 0;
    }
}

@keyframes arrowAppearAnimation {
    0% {
        transform: translateY(-40px) scale(1.5);
        filter: blur(5px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        filter: blur(0);
        opacity: 1;
    }
}

@media (max-width: 1500px) {
    .intro {
        max-height: 825px;
    }
}

@media (max-width: 1450px) {
    .intro {
        max-height: 775px;
    }
}

@media (max-width: 1400px) {
    .intro {
        max-height: 725px;
    }
}

@media (max-width: 1300px) {
    .intro {
        max-height: 700px;
    }

    .photoContainer img {
        width: 82%;
    }
}

@media (max-width: 1200px) {
    .intro {
        max-height: 675px;
    }

    .photoContainer img {
        width: 86%;
    }
}

@media (max-width: 1100px) {
    .intro {
        max-height: 650px;
    }

    .photoContainer img {
        width: 90%;
    }
}

@media (max-width: 1050px) {    
    .intro {
        grid-template-columns: 12% 78% 10%;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "col1 col2 col4"
            "col1 col3 col4";

        height: auto;
    }
 
    .intro > :nth-child(1) {
        grid-area: col1;
    }

    .intro > :nth-child(2) {
        grid-area: col2;
    }

    .intro > :nth-child(3) {
        grid-area: col3;
    }

    .introText {
        margin-top: 4em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4em;
        width: 75%;
        opacity: 0;
        animation: fadeIn 2s forwards;
        align-content: flex-end;
    }

    .introPhoto {
        display: none;
    }
}

@media (max-width: 800px) {
    .intro {
        padding-top: 20px;
        grid-template-areas: none;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    .intro > :nth-child(1),
    .intro > :nth-child(2),
    .intro > :nth-child(3) {
        grid-area: unset;
    }

    .introIcons {
        display: none;
    }
}

@media (max-width: 550px) {
    .introText {
        width: auto;
        padding-left: 2em;
        padding-right: 2em;
    }
    
}


@media (max-width: 470px) {
    .introButtons {
        display: grid;
        grid-template-columns: 145px;
        grid-template-rows: 45px 45px;
        gap: 1.5em;
        height: 2.5em;
        margin-top: 0.8em;
        margin-bottom: 4em;
    }

    .intro {
        max-height: none;
    }
}

/* Services section */
.services {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.025);
    
    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3.5em;
}

.services > label {
    font-size: 16px;
    font-weight: bold;
}

.services > h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 60px;
    margin: 0;
}

.servicesContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 7.5em;
    row-gap: 2.5em;
    min-height: 20em;
    margin-bottom: 20px;
}

.servicesItem {
    display: grid;
    grid-template-rows: 55% 50px auto;
    text-align: center;
    justify-items: center;
    align-items: flex-end;
}

.servicesItem.center {
    grid-column: 2 / span 1;
}

.servicesContent img:first-of-type {
    height: 9em;
    margin-bottom: 15px;
}

.servicesContent i {
    font-size: 6.75em;
    margin-bottom: 15px;
}

.servicesContent img:last-of-type {
    height: 8em;
    margin-bottom: 15px;
}

.servicesItem label:first-of-type{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.servicesItem label:nth-of-type(2) {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 2.5px;
    align-self: flex-start;
}

@media (max-width: 1250px) {
    .servicesItem {
        display: grid;
        grid-template-rows: 55% auto auto;
        text-align: center;
        justify-items: center;
        align-items: flex-end;
    }

    .servicesContent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        min-height: 20em;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 1060px) {
    .servicesContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        column-gap: 7.5em;
        row-gap: 2.5em;
        min-height: 20em;
        margin-bottom: 20px;
    }
    .center {
        grid-column: auto;
    }
}

@media (max-width: 730px) {
    .servicesContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 7.5em;
        row-gap: 2.5em;
        min-height: 20em;
        margin-bottom: 20px;
    }
}

@media (max-width: 550px) {
    .services {
        padding-left: 2em;
        padding-right: 2em;
    }
    
}


/* Education section */
.education {
    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
    padding-right: 5em;
}

.education > label {
    font-size: 16px;
    font-weight: bold;
}

.education > h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.educationContent {
    align-self: center;
    width: 100%;
    padding-top: 3em;
    margin-bottom: 4.5em;
    padding-bottom: 0.5em;
    font-size: 17px;
}

.educationItem {
    display: grid;
    grid-template-columns: auto 30% 15% 2.5em;
    align-content: center;
}

.educationItem:last-of-type label, .educationItem:last-of-type a {
    height: 200%;
}

.educationItem label {
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    border-right: 1.5px solid transparent;
    border-image: linear-gradient(to bottom, var(--accent-first), var(--accent-second)) 1;
}
 
.educationItem label:first-of-type {
    padding-left: 0.2em;
    padding-right: 0.75em;
}

.educationItem label:not(:first-of-type) {
    padding: 0 0.75em;
}

.educationItem a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    text-decoration: none;
}

.educationItem a:hover {
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    z-index: 1;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    background-position: center center;
    background-size: 50% 50%;
}

.education hr {
    margin-left: 0;
    margin-right: 0;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, var(--accent-first), var(--accent-second));
}

#shortSchool {
    display: none;
}

@media (max-width: 963px) {
    .educationItem:last-of-type label, .educationItem:last-of-type a {
        height: 100%;
    }
}

@media (max-width: 750px) {
    .educationItem {
        display: grid;
        grid-template-columns: auto 25% 20% 2.5em;
    }
}

@media (max-width: 650px) {
    #shortSchool {
        display: flex;
        padding-left: 0.2em;
        padding-right: 0.75em;
    }

    #longSchool {
        display: none;
    }

    .educationItem {
        display: grid;
        grid-template-columns: auto 30% 20% 2.5em;
    }
}

@media (max-width: 550px) {
    .education {
        padding-left: 2em;
        padding-right: 2em;
    }

    .educationContent {
        overflow-x: auto;
    }

    .educationItem {
        display: grid;
        grid-template-columns: 190px 125px 95px 2.5em;
        align-content: center;
    }

    .education hr {
        width: 456px;
    }
}


/* Skills section */
.skills {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.025);

    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3.5em;
}

.skills > label {
    font-size: 16px;
    font-weight: bold;
}

.skills > h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 0.75em;
    margin: 0;
}

.skillsContent {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    row-gap: 25px;
}

.skillsContent img {
    width: 6.5em;
    justify-self: center;
    align-self: center;
    -webkit-filter: drop-shadow(1px 2px 4px black);
  filter: drop-shadow(1px 2px 4px black);
}

.skillsContent img[src="/img/java.png"] {
    width: 4.7em;
}

.skillsContent img[src="/img/linux.png"] {
    width: 5.9em;
}

.skillsContent img[src="/img/laravel.png"] {
    width: 8em;
}

.skillsContent img[src="/img/phrase.png"] {
    width: 9em;
}

.skillsContent img[src="/img/office.png"] {
    width: 5.7em;
}

.skillsContent img[src="/img/php.png"] {
    width: 6.7em;
}

.skillsContent img[src="/img/cpp.png"] {
    width: 5.5em;
}

.skillsContent img[src="/img/figma.png"] {
    width: 6em;
}

@media (max-width: 1200px) {
    .skillsContent {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
        row-gap: 25px;
    }
}

@media (max-width: 800px) {
    .skillsContent {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
    }
}

@media (max-width: 650px) {
    .skillsContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 25px;
    }
    .skillsContent {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(6, 1fr);
        row-gap: 25px;
    }
}

@media (max-width: 550px) {
    .skills {
        padding-left: 2em;
        padding-right: 2em;
    }   
}

/* Languages section */
.languages {
    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3.5em;
}

.languages > label {
    font-size: 16px;
    font-weight: bold;
}

.languages > h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.languages > h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-top: 2em;
}

.chart-container {
    position: relative;
    width: 225px;
    height: 225px;
    display: inline-block;
    margin: 20px;
}
  
.chart {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.chart circle {
    fill: transparent;
    stroke-width: 30;
}

.chart .donut-ring {
    stroke: rgba(255, 255, 255, 0.025);
    stroke-width: 1.25em;
}

.chart .donut-segment {
    stroke-linecap: round;
    animation: drawDonut 1s ease-in-out forwards;
    transform-origin: center;
    stroke-width: 1.25em;
}

.percentage {
    font-family: 'CoFo Sans', sans-serif;
    font-size: 27px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: var(--font-color);
    font-weight: 600;
    margin-top: 20px;
}

@keyframes drawDonut {
    from {
      stroke-dasharray: 0, 440;
      transform: rotate(-90deg);
    }
}

.languagesContent {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 15%;
}

.languagesContentAdd {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 15%;
}

.languageItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.languageItem label:first-of-type{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
}

.languageItem label:nth-of-type(2) {
    font-size: 17px;
    padding-bottom: 2.5px;
}

.languageItem label:nth-of-type(3) {
    font-size: 15px;
    font-weight: 100;
}

@media (max-width: 1200px) {
    .languagesContent {
        gap: 5%;
    }
    
    .languagesContentAdd {
        gap: 5%;
    }
}

@media (max-width: 940px) {
    .languagesContent {
        gap: 0;
    }
    
    .languagesContentAdd {
        gap: 0;
    }
}

@media (max-width: 850px) {
    .languagesContent {
        grid-template-columns: repeat(2, auto);
        gap: 7.5%;
        row-gap: 0;
    }

    .languageItem:nth-of-type(3) {
        grid-column: 1 / span 2;
    }
    
    .languagesContentAdd {
        gap: 7.5%;
    }
}

@media (max-width: 700px) {
    .languagesContent {
        grid-template-columns: auto;
        gap: 0;
        row-gap: 0;
    }

    .languageItem:nth-of-type(3) {
        grid-column: auto;
    }
    
    .languagesContentAdd {
        grid-template-columns: auto;
        gap: 0;
    }
}

@media (max-width: 550px) {
    .languages {
        padding-left: 2em;
        padding-right: 2em;
    }
    
}


/* Experience section */
.experience {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.025);

    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2.5em;
}

.experience > label {
    font-size: 16px;
    font-weight: bold;
}

.experience > h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 0.75em;
    margin: 0;
}

.experienceContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7em;
    row-gap: 2em;
}

.experienceItem {
    display: flex;
    flex-direction: column;
}

.experienceItem label:first-of-type {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.experienceItem label:nth-of-type(2) {
    padding-bottom: 7px;
    font-size: 16px;
}

.experienceItem label:last-of-type {
    font-size: 17px;
}

.experienceItem ul {
    padding-left: 20px;
    font-size: 16px;
}

.experienceItem li {
    padding-bottom: 10px;
}

.experienceItem.center {
    grid-column: span 2;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

@media (max-width: 900px) {
    .experienceContent {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 2em;
    }
    
    .experienceItem.center {
        grid-column: auto;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 550px) {
    .experience {
        padding-left: 2em;
        padding-right: 2em;
    }
    
}


/* Contact section */
.contact {
    display: flex;
    flex-direction: column;
    padding-top: 3.5em;
    padding-bottom: 3em;
    padding-left: 5em;
    padding-right: 5em;
}

.contact > label {
    font-size: 16px;
    font-weight: bold;
}

.contact > h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 0.5em;
    margin: 0;
}

.contactContent {
    display: grid;
    grid-template-columns: 40% 60%;
}


.contactText {
    font-size: 0.85em;
    padding-left: 0.5em;
}

.contactText > label:first-of-type {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}

.contactText p:first-of-type {
    padding-bottom: 10px;
}

.contactText p:last-of-type {
    font-weight: bold;
    font-size: 1.05em;
}

.contactTextDetails {
    display: grid;
    grid-template-rows: repeat(3, 2.5em);
    margin-top: 0.8em;
    padding-bottom: 5px;
}

.contactTextDetails i, .contactTextTech i {
    font-size: 1.15em;
    display: flex;
    align-self: center;
}

.contactTextDetails label, .contactTextTech label {
    display: flex;
    align-self: center;
}

.contactTextDetails strong, .contactTextTech strong {
    display: flex;
    padding-right: 0.4em;
    align-self: center;
}

.contactDetailsElement {
    height: 100%;
    display: grid;
    grid-template-columns: 2em auto;
    margin-left: 0.6em;
}

.contactDetailsElement2 {
    display: none;
}

.contactTextTech {
    display: grid;
    grid-template-rows: 2.5em;
    margin-top: 0.8em;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.contactForm form {
    width: 70%;
    padding-right: 2em;
}

.contactForm input {
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, var(--accent-first), var(--accent-second)) 1;
    width: 100%;
    height: 2em;
    font-size: 0.85em;
    color: var(--font-color);
    margin-bottom: 1.75em;
}

.contactForm input::placeholder {
    color: var(--font-color);
    opacity: 0.5;
}

.contactForm input:focus {
    outline: none;
    border-image: linear-gradient(to right, var(--accent-first-lighter), var(--accent-second-lighter)) 1;
}

.contactForm input:-webkit-autofill,
.contactForm input:-webkit-autofill:hover, 
.contactForm input:-webkit-autofill:focus, 
.contactForm input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
}

.contactForm textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, var(--accent-first), var(--accent-second)) 1;
    width: 100%;
    min-height: 9.25em;
    font-size: 0.85em;
    color: var(--font-color);
    margin-bottom: 1em;
    resize: vertical;
    overflow: none;
}

.contactForm textarea::placeholder {
    color: var(--font-color);
    font-family: 'CoFo Sans', sans-serif;
    opacity: 0.5;
}

.contactForm textarea:focus {
    outline: none;
    border-image: linear-gradient(to right, var(--accent-first-lighter), var(--accent-second-lighter)) 1;
}

.contactForm .colorfulButton {
    font-size: 0.9em;
    height: 2.4em;
    width: 8.4em;
    align-items: center;
}

.contactForm p {
    color: #8e8397;
    font-size: 0.6em;
    padding-top: 0.7em;
}

.contactForm p a {
    color: #8e8397;
    text-decoration: none;
    font-weight: 600;
}

.contactForm p a:hover {
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media (max-width: 1200px) {
    .contactForm form {
        width: 75%;
        padding-right: 0;
    }
}

@media (max-width: 950px) {
    .contactContent {
        display: grid;
        grid-template-columns: 100%;
    }

    .contactForm form {
        width: 80%;
        padding: 30px 0 0 0;
    }

    .contactForm {
        align-items: center;
    }
}

@media (max-width: 750px) {
    .contactForm form {
        width: 100%;
        padding: 30px 0 0 0;
    }
}

@media (max-width: 550px) {
    .contact {
        padding-left: 2em;
        padding-right: 2em;
    }   
}

@media (max-width: 350px) {
    .contactDetailsElement2 {
        height: 100%;
        display: grid;
        grid-template-columns: 2em auto;
        margin-left: 0.6em;
    }

    .contactTextTech .contactDetailsElement {
        display: none;
    }
}



/* Footer */
.footerContainer {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); 
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    padding: 1em 1.9em 1em 1.9em;
    align-items: center;
    font-size: 14px
}

.footerContainer a {
    color: var(--font-color);
    text-decoration: none;
}

.copyright {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.copyright label {
    padding-bottom: 5px;
    width: auto;
}

.footerIcons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    font-size: 1.3em;
    gap: 0.9em;
    margin-right: auto;
    text-align: center;
    padding-top: 0.15em;
}

.terms {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: auto;
}

.terms a:first-of-type {
    padding-bottom: 5px;
}

.terms a:hover {
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}




/* The success popup */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.successPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(150deg, var(--accent-first), var(--accent-second));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 9999;
}

.successPopup h2 {
    font-size: 1.5em;
    margin: 0;
}

.successPopup p {
    font-size: 1em;
    margin: 1em 0 0 0;
}


/* Terms/privacy page */
.termsSection {
    display: flex;
    flex-direction: column;
    padding: 5rem 4rem 2rem 4rem;
}

.termsSection a {
    color: white;
}

.termsSection * {
    margin: 0;
}

.termsSection p, .termsSection li {
    font-size: 0.975rem;
    margin: 0.75rem 0;
}

.termsSection li {
    margin: 0.5rem 0;
}

.termsSection h2, .termsSection h3 {
    margin: 0.5rem 0;
}

.termsSection h1 {
    margin: 0 0 1.5rem 0;
    font-size: 2rem;
    text-align: center;
}

p.wishPriv {
    margin-top: 0.75rem;
    margin: 0;
}

p.namePriv {
    margin: 0;
}

@media (max-width: 550px) {
    .termsSection {
        padding-left: 2em;
        padding-right: 2em;
    }   
}


/* Mobile navbar*/
#navPane {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    background: linear-gradient(150deg, rgba(4, 8, 37, 0.8), rgba(39, 7, 52, 0.8));
    backdrop-filter: blur(5px);
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 99999;
}

#navPane > a {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    padding-left: 30px;
    font-size: 16px;
    text-decoration: none;
}


.navPane button:hover, .navPane button:focus, .navPane button:active {
    background: linear-gradient(150deg, var(--accent-first), var(--accent-second));
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.navLabel {
    position: absolute;
    top: 22px;
    left: 30px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

.navIcons {
    position: absolute;
    bottom: 85px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navIcons a {
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}

#navPane > hr {
    margin: 0 15px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--accent-first), var(--accent-second));
}

.grecaptcha-badge { visibility: hidden !important; }

#addressInput {
    display: none;
}
